
body {font-family: sans-serif}

pre.r {border: 0.1em solid #916210; background-color:#FFF9D1 ; margin-left: 2em; padding: 1em;}

pre.geonames {border-left: 0.1em dashed black; margin-left: 2em; padding: 1em}

